.demo502 {
  .u-table-row-hover {
      .editable-row-icon,
      .editable-row-icon-check {
          display: block !important;
      }
  }
  .u-table-row {
    height: 58px;
      .editable-row-icon,
      .editable-row-icon-check {
          display: none;
      }
  }
}