.demo0502 {
  .u-table-row {
    td {
      padding: 5px 8px;

      input.error {
        border-color: #F44336;
      }
    }
    .editable-cell {
      height: 30px;
    }
    &-hover {
      .editable-cell-text-wrapper {
        line-height: 18px;
        border: 1px solid #c1c7d0;
      }
    }
    .u-form-control,
    .u-select-selection {
      height: 30px;
    }
  }

  .editable-cell-text-wrapper {
    box-sizing: border-box;
    line-height: 20px;
    border-radius: 3px;

    &:hover {
      line-height: 18px;
      border: 1px solid #a5adba;
    }
  }

  .require {
    position: absolute;
    top: 2px;
    color: #F44336;
    font-size: 20px;
  }
}

.help-tip {
  color: #F44336;
}

.tp-0502 {
  .tooltip-arrow {
    border-bottom-color: #F44336 !important;
  }

  .tooltip-inner {
    border-color: #F44336 !important;
  }
}