.demo0503-m-b {

  &.u-modal .u-modal-body {
    padding: 16px 0;
    background: #f7f9fb;
  }

  .u-form-group {
    overflow: hidden;
  }

  .u-form-control {
    font-size: 12px;
  }

  .editable-cell {
    display: block;
    float: left;
    width: 265px;
    padding-right: 25px;
  }

  .ref-input-wrap {
    width: 240px !important;
  }

  .u-label {
    display: block;
    float: left;
    text-align: right;
    width: 110px;
    box-sizing: border-box;
    padding-right: 10px;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    .mast {
      padding: 0;
      color: red;
    }
  }

  .required-icon {
    position: absolute;
    top: 2px;
    color: #F44336;
    font-size: 20px;
  }
}

.u-editable-table-tp {
  z-index: 9999 !important;

  .tp-content {
    color: #F44336;
  }
}
.ref-core-button .u-button:first-child{
  margin-right: 8px;
}