@import "../node_modules/tinper-bee-core/scss/index.scss";
@import "../node_modules/bee-panel/src/Panel.scss";
@import "../node_modules/bee-layout/src/Layout.scss";
@import "../node_modules/bee-button/src/Button.scss";
@import "../node_modules/bee-transition/src/Transition.scss";
@import "../src/Table.scss";
@import "../node_modules/bee-popconfirm/src/Popconfirm.scss";
@import "../node_modules/bee-form-control/src/FormControl.scss";
@import "../node_modules/bee-pagination/src/Pagination.scss";
@import "../node_modules/bee-checkbox/src/Checkbox.scss";
@import "../node_modules/bee-select/src/Select.scss";

//引入日期控件样式文件
@import "../node_modules/bee-datepicker/src/datepicker.scss";

.editable-cell {
  position: relative;
}

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
  padding-right: 24px;
}

.editable-cell-text-wrapper {
  padding: 5px 24px 5px 5px;
}

.editable-cell-icon,
.editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 18px;
  display: none;
}

.editable-cell-icon-check {
  line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #2db7f5;
}

.editable-add-btn {
  margin-bottom: 8px;
}

.search-component {
  margin-bottom: 20px;
  .empty-search {
    position: absolute;
    right: 45px;
    z-index: 20;
    top: 5px;
    color: #524e4e;
    cursor: pointer;
  }
  &.u-input-group.simple {
    float: right;
  }
  &.u-input-group.simple .u-form-control {
    width: 251px;
    background: #f5f5f5;
    border-color: #f5f5f5;
    border-radius: 20px;
  }
  &.u-input-group.simple .u-input-group-btn {
    top: 3px;
    right: 20px;
    position: absolute;
  }
}

.bee-table-column-sorter {
  position: relative;
  margin-left: 4px;
  display: inline-block;
  width: 14px;
  height: 1em;
  vertical-align: middle;
  text-align: center;
  & > .bee-table-column-sorter-down,
  & > .bee-table-column-sorter-up {
    line-height: 6px;
    display: block;
    width: 14px;
    cursor: pointer;
  }
}
.bee-table-column-sorter-down.on .uf-triangle-down,
.bee-table-column-sorter-down.on .uf-triangle-up,
.bee-table-column-sorter-up.on .uf-triangle-down,
.bee-table-column-sorter-up.on .uf-triangle-up {
  color: #108ee9;
}
.bee-table-column-sorter .uf-triangle-down, .bee-table-column-sorter .uf-triangle-up {
    -webkit-filter: none;
    filter: none;
    font-size: 12px;
}
.bee-table-column-sorter .uf-triangle-down, .bee-table-column-sorter .uf-triangle-up {
    display: inline-block;
    padding: 0;
    font-size: 12px;
    font-size: 8px\9;
    -webkit-transform: scale(.66666667) rotate(0deg);
    -ms-transform: scale(.66666667) rotate(0deg);
    transform: scale(.66666667) rotate(0deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
    zoom: 1;
    line-height: 4px;
    height: 4px;
    color: #999;
    -webkit-transition: all .3s;
    transition: all .3s;
}