// @import "../node_modules/tinper-bee-core/scss/index.scss";
// @import "../node_modules/bee-panel/src/Panel.scss";
// @import "../node_modules/bee-layout/src/Layout.scss";
// @import "../node_modules/bee-button/src/Button.scss";
// @import "../node_modules/bee-transition/src/Transition.scss";
// @import "../node_modules/bee-popconfirm/src/Popconfirm.scss";
// @import "../node_modules/bee-form-control/src/FormControl.scss";
// @import "../node_modules/bee-pagination/src/Pagination.scss";
// @import "../node_modules/bee-checkbox/src/Checkbox.scss";
// @import "../node_modules/bee-select/src/Select.scss";
// @import "../node_modules/bee-popover/src/Popover.scss";
// @import "../node_modules/bee-tooltip/src/Tooltip.scss";
// @import "../node_modules/bee-message/build/Message.css";
// @import "../node_modules/bee-dropdown/build/Dropdown.css";
// @import "../node_modules/bee-input-number/build/InputNumber.css";
// @import "../node_modules/bee-modal/build/Modal.css";
@import "../src/Table.scss";


//引入日期控件样式文件
// @import "../node_modules/bee-datepicker/src/datepicker.scss";

.selected{
  background: #FFF7E7;
}

.demo25{
  height: 100%;

  .u-table-filter-column-filter-icon{
    right: 15px;
  }

}
.opt-btns .u-button{
  margin: 0 4px;
  color: #fff;
  background: #505F79;
  border-color: #505F79;
  &:hover, &:active{
    background: #344563;
    border-color: #505F79;
  }
}